commands:
  00_node_unset:
  # remove nodejs temporary
  cwd: /tmp
  command: 'sudo apt remove nodejs'

  01_node_get:
    # run this command from /tmp directory
    cwd: /tmp
    # flag -y for no-interaction installation (visit https://rpm.nodesource.com for latest)
    command: 'curl --silent --location https://rpm.nodesource.com/setup_11.x | sudo bash -'

  02_node_install:
    # run this command from /tmp directory
    cwd: /tmp
    command: 'sudo yum -y install nodejs'