commands:
  00_logs_begin:
    command: "echo HELLO, HOW ARE YOU?"
  01_node_download:
    cwd: /tmp
    command: "curl --silent --location https://rpm.nodesource.com/setup_14.x | sudo bash -"
    ignoreErrors: true
  02_node_install:
    cwd: /tmp
    command: "sudo yum install nodejs -y"
    ignoreErrors: true