#about {
  .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
  }

  h3 {
    border-bottom: solid 3px #eee;
    font-size: 1.7em;
    line-height: 1.2;
    margin-bottom: .5em;
    margin-top: 2.5em;
    padding-bottom: .3em;
  }

  h4 {
    margin-top: 3em;
    font-size: 1.3em;
    line-height: 1.43;
  }

  p {
    margin: 1.4em 0;
    font-size: 1em;
    line-height: 1.875;
  }
}
