<div class="top_s">
<div class="container-fluid mt-5">
      <div class="starter-template">
     プライベートポリシー<br>
本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，利用者の個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。<br>
<br>
第1条（個人情報）<br>
「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報を指します。<br>
<br>
第2条（個人情報の収集方法）<br>
利用者が利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，クレジットカード番号などの個人情報をお尋ねすることがあります。<br>
<br>
第3条（個人情報を収集・利用する目的）<br>
個人情報を収集・利用する目的は，以下のとおりです。<br>
<br>
サービスの提供・運営のため<br>
利用者からのお問い合わせに回答するため（本人確認を行うことを含む）<br>
利用者が利用中のサービスの新機能，更新情報，キャンペーン等及び他のサービスの案内のメールを送付するため<br>
メンテナンス，重要なお知らせなど必要に応じたご連絡のため<br>
利用規約に違反した利用者や，不正・不当な目的でサービスを利用しようとする利用者の特定をし，ご利用をお断りするため<br>
利用者にご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため<br>
有料サービスにおいて，利用者に利用料金を請求するため<br>
上記の利用目的に付随する目的<br>
第4条（利用目的の変更）<br>
利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。<br>
利用目的の変更を行った場合には，変更後の目的について，所定の方法により，利用者に通知し，または本ウェブサイト上に公表するものとします。<br>
<br>
第5条（プライバシーポリシーの変更）<br>
本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，利用者に通知することなく，変更することができるものとします。<br>
<br>
第6条（お問い合わせ窓口）<br>
本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。<br><br>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScTmp7v8SXMrrBtQhV08EJbSA1HSgtt6dZcm1vdDZIpoeGBiQ/viewform">お問い合わせフォーム</a><br>
<br>
以上<br>
</div>
</div>
<script>
  $('nav').addClass("bg-dark");
</script>
<style>
.top_s {
    margin-top:100px;
    background-image: none;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    min-height: 100vh;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    height: auto;
  }
.form{
  padding: 50px;;
}
</style>