<div class="js-parallax u-promo-block top-bg-img">
    <div class="container-fluid bg-wite-o">
        <div class=" ">
            <div id="sceneTop" class="top screen">
                <div class="my-5">
                    <% if params[:select_num].to_i != 0 %>
                        <h1><%= params[:select_num].to_i - 2 %>
                            ~
                            <%= params[:select_num].to_i +  400 * params[:quiz_type].to_i + 98 %></h1>
                    <% else %>
                        <h1>0 ~ 100</h1>
                    <% end %>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="wrapper_quiz">
                            <a id="btnStart-10" class="button_quiz">10問</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wrapper_quiz">
                            <a id="btnStart-30" class="button_quiz">30問</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wrapper_quiz">
                            <a id="btnStart-100" class="button_quiz">100問</a>
                        </div>
                    </div>
                    <div class="col-sm-4 offset-sm-4" id="testbtn">
                        <div class="wrapper_quiz">
                            <a id="btnStart-50" class="button_quiz">テストスタート！</a>
                        </div>
                    </div>

                </div>
            </div>

            <div id="sceneGame" class="game screen container">
                <p id="textQuestion"></p>
                <ul id="listAnswer"></ul>
                <div id="btn" class="disabled">Next</div>
            </div>

            <section id="result" class="hidden">
                <p></p>
            </section>

            <div id="sceneResult" class="result screen">
                <button id="btnResult" class="btn btn-outline-dark mt-6" role="button">結果を見る</button>
            </div>
            <div class="container-fluid">
                <section id="indexResult" class="text-center">
                    <a href="#" class="btn btn-outline-dark mb-3" role="button">Reset</a>
                    <table border="1" id="targetTable" class="table tbl-r05">
                        <tr class="thead">
                            <td>問題No</td>
                            <td>出題Word</td>
                            <td>あなたの解答</td>
                            <td>正解の解答</td>
                            <td>〇/✕</td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        background: #ffffff;
        font-size: 14px;
        font-family: Verdana, sans-serif;
    }
</style>

<script>
    (function () {
            let table = document.getElementById("targetTable");
            const sceneTop = document.getElementById("sceneTop");
            const sceneGame = document.getElementById("sceneGame");
            const sceneResult = document.getElementById("sceneResult");
            const textQuestion = document.getElementById("textQuestion");
            const listAnswer = document.getElementById("listAnswer");
            const numResult = document.getElementById("numResult");
            const btnStart10 = document.getElementById("btnStart-10");
            const btnStart30 = document.getElementById("btnStart-30");
            const btnStart100 = document.getElementById("btnStart-100");
            const btnResult = document.getElementById("btnResult");
            const indexResult = document.getElementById("indexResult");
            const testBtn = document.getElementById("testbtn");
            const btn = document.getElementById('btn');
            const result = document.getElementById('result');
            const scoreLabel = document.querySelector('#result > p');
            let isAnswered;
            // use gon
            const question = gon.questions;

            let state = {
                answer: "",
                gameCount: 0,
                totalCount: 0,
                success: 0,
                correctInArray: []
            };

            let quizResult = function (en_word, user_answer, answer) {
                this.en_word = en_word;
                this.user_answer = user_answer;
                this.answer = answer;
                this.status = 0;
                this.user_id = gon.user_id;
            }

            let quizResults = [];
            // -------------------------------------------------
            function init() {
                state.gameCount = 0;
                state.success = 0;
                state.totalCount = 0;
                state.correctInArray = [];

                changeScene(sceneResult, sceneTop);
                result.classList.add('hidden');
                table.classList.add('hidden');
                indexResult.classList.add('hidden');

                if (gon.test) {
                    btnStart10.classList.add('hidden');
                    btnStart30.classList.add('hidden');
                    btnStart100.classList.add('hidden');
                    testbtn.classList.remove('hidden');
                    testBtn.addEventListener("click", {
                        count: 50,
                        handleEvent: gameStart
                    }, false);

                } else {
                    testbtn.classList.remove('hidden');
                    btnStart10.addEventListener("click", {
                        count: 10,
                        handleEvent: gameStart
                    }, false);
                    btnStart30.addEventListener("click", {
                        count: 30,
                        handleEvent: gameStart
                    }, false);
                    btnStart100.addEventListener("click", {
                        count: 100,
                        handleEvent: gameStart
                    }, false);
                }
                // 非同期なので引数は特殊
            }

            function changeScene(hiddenScene, visibleScene) {
                hiddenScene.classList.add("is-hidden");
                hiddenScene.classList.remove("is-visible");
                visibleScene.classList.add("is-visible");
            }

            function showQuestion() {
                let str = "";
                question[state.gameCount].choice.forEach(function (value) {
                    str += '<li class="questionChoice">' + value + "</li>";
                });
                textQuestion.innerHTML = question[state.gameCount].text;
                listAnswer.innerHTML = str;
            }

            function choiceQuestion() {
                let questionChoice = document.querySelectorAll(".questionChoice");
                questionChoice.forEach(function (choice) {
                    choice.addEventListener("click", function () {
                        if (isAnswered) {
                            return;
                        }
                        isAnswered = true;
                        state.answer = this.textContent;
                        checkAnswer(question[state.gameCount], choice);
                    }, false);
                });
            }

            function checkAnswer(question, choice) {

                let quiz = new quizResult(question.text, state.answer, question.answer);
                if (question.answer === state.answer) {
                    correctAnswer(choice);
                    quiz.status = 1;
                } else {
                    incorrectAnswer(choice, question.answer);
                    quiz.status = 0;
                } state.gameCount ++;
                quizResults.push(quiz)
                if (state.gameCount<state.totalCount) {
        btn.classList.remove('disabled');
      } else {
        btn.textContent = 'Show Score';
        btn.classList.remove('disabled');

      }
    }

    btn.addEventListener('click', () => {
                    if (btn.classList.contains('disabled')) {
                        return;
                    }
                    isAnswered = false;
                    btn.classList.add('disabled');
                    if (state.gameCount >= state.totalCount) {
                        gameEnd()
                    } else {
                        showQuestion();
                        choiceQuestion();
                    }
                })


                    function correctAnswer(choice) {
                        state.success ++;
                        choice.classList.add('correct');
                    }



                function incorrectAnswer(choice, answer) {
                    state.correctInArray = document.getElementsByClassName("questionChoice");
                    for (let i = 0; i < state.correctInArray.length; i++) {
                        if (state.correctInArray[i].textContent === answer) {
                            state.correctInArray[i].classList.add('correct');
                            break
                        }
                    }
                    choice.classList.add('wrong');
                }

                function gameStart(e) {
                    state.totalCount = this.count;
                    changeScene(sceneTop, sceneGame);
                    showQuestion();
                    choiceQuestion();
                }


                function gameEnd() {
                    scoreLabel.textContent = `Score: ${
                        state.success
                    } / ${
                        state.totalCount
                    }`;
                    result.classList.remove('hidden');
                    changeScene(sceneGame, sceneResult);
                    // $.ajax({
                    // // 実行したいactionへのpathに置き換えてください。
                    // // 例えば users_controller の create アクションなどの場合は
                    // // /users/create などとなると思います。
                    // url: '/results',
                    // // GET, POST, PUT, DELETEなどを設定します。
                    // type: 'POST',
                    // // urlにつけるパラメータを指定します。
                    // data: {
                    //     // JSの変数の中のデータをRailsに渡します。
                    //     // Rails からは parmas[:hoge] で受け取れます。
                    //     quizResults: quizResults
                    // },
                    // })

                    btnResult.addEventListener("click", {
                        viewQuizResults: quizResults,
                        handleEvent: showResult
                    }, false);
                }


                function showResult(e) {
                    let str = "";
                    for (let i = 0; i < this.viewQuizResults.length; i++) {
                        for (let key in this.viewQuizResults[i]) {
                            str += this.viewQuizResults[i][key] + ",";
                        }
                    };
                    result.classList.add('hidden');
                    btnResult.classList.add('hidden');
                    table.classList.remove('hidden');
                    indexResult.classList.remove('hidden');
                    quiz_element = str.split(",")
                    var label = ['出題Word', 'あなたの回答', '正解', '正誤']
                    for (let i = 0; i < (quiz_element.length - 1) / 5; i++) {
                        let newRow = table.insertRow();
                        for (let j = 0; j < 5; j++) {
                            if (j === 0) {
                                input_text = i + 1;
                                let newCell = newRow.insertCell();
                                newCell.getAttribute('data-label')
                                newCell.dataset.label = '問題No'
                                let newText = document.createTextNode(input_text);
                                newCell.appendChild(newText);
                            } else if (j == 4) {
                                break;
                            }
                            input_text = quiz_element[i * 5 + j]
                            if (j == 3) {
                                if (input_text == 1) {
                                    input_text = '〇'
                                } else {
                                    input_text = '✕'
                                }
                            }
                            let newCell = newRow.insertCell();
                            newCell.getAttribute('data-label')
                            newCell.dataset.label = label[j]
                            let newText = document.createTextNode(input_text);
                            newCell.appendChild(newText);
                        };
                    };
                };

                init();
            }
        )();
        </script>
