<div id="sceneTop" class="top screen">
    <h1>４択クイズ</h1>
    <button id="btnStart" class="blbtn">Game Start</button>
</div>

<div id="sceneGame" class="game screen container">
    <p id="textQuestion"></p>
    <ul id="listAnswer"></ul>
    <div id="btn" class="disabled">Next</div>
</div>

<section id="result" class="hidden">
    <p></p>
    <button id="btnReset">Reset?</button>
</section>

<div id="sceneResult" class="result screen">
    <h1>リザルト画面</h1>
    <p>正解数は<span id="numResult"></span>問です。</p>
    <button id="btnReset">Reset</button>
</div>

<script>
    (function() {
        const sceneTop = document.getElementById("sceneTop");
        const sceneGame = document.getElementById("sceneGame");
        const sceneResult = document.getElementById("sceneResult");
        const textQuestion = document.getElementById("textQuestion");
        const listAnswer = document.getElementById("listAnswer");
        const numResult = document.getElementById("numResult");
        const btnStart = document.getElementById("btnStart");
        const btnReset = document.getElementById("btnReset");
        const btn = document.getElementById('btn');
        const result = document.getElementById('result');
        const scoreLabel = document.querySelector('#result > p');

        let isAnswered;

        //use gon
        const question = gon.questions;

        let state = {
            answer: "",
            gameCount: 0,
            success: 0
        };

        function init() {
            state.gameCount = 0;
            state.success = 0;
            changeScene(sceneResult, sceneTop);
            result.classList.add('hidden');

            btnStart.addEventListener("click", gameStart, false);
        }

        function changeScene(hiddenScene, visibleScene) {
            hiddenScene.classList.add("is-hidden");
            hiddenScene.classList.remove("is-visible");
            visibleScene.classList.add("is-visible");
        }

        function showQuestion() {
            var str = "";
            question[state.gameCount].choice.forEach(function(value) {
                str += '<li class="questionChoice">' + value + "</li>";
            });
            textQuestion.innerHTML = question[state.gameCount].text;
            listAnswer.innerHTML = str;
        }

        function choiceQuestion() {
            let questionChoice = document.querySelectorAll(".questionChoice");
            questionChoice.forEach(function(choice) {
                choice.addEventListener(
                    "click",
                    function() {
                        if (isAnswered) {
                            return;
                        }
                        isAnswered = true;
                        state.answer = this.textContent;
                        checkAnswer(question[state.gameCount].answer, choice);
                    },
                    false
                );
            });
        }

        function checkAnswer(answer, choice) {
            if (answer === state.answer) {
                correctAnswer(choice);
            } else {
                incorrectAnswer(choice);
            }
            state.gameCount++;
            if (state.gameCount < question.length) {
                btn.classList.remove('disabled');
            } else {
                btn.textContent = 'Show Score';
                btn.classList.remove('disabled');

            }
        }

        btn.addEventListener('click', () => {
            if (btn.classList.contains('disabled')) {
                return;
            }
            isAnswered = false;
            btn.classList.add('disabled');
            if (state.gameCount >= question.length) {
                gameEnd()
            } else {
                showQuestion();
                choiceQuestion();
            }
        });

        function correctAnswer(choice) {
            state.success++;
            choice.classList.add('correct');
        }

        function incorrectAnswer(choice) {
            choice.classList.add('wrong');
        }

        function gameStart() {
            changeScene(sceneTop, sceneGame);
            showQuestion();
            choiceQuestion();
        }

        function gameEnd() {
            scoreLabel.textContent = `Score: ${state.success} / ${question.length}`;
            result.classList.remove('hidden');
            changeScene(sceneGame, sceneResult);
            btnReset.addEventListener("click", init, false);
        }

        init();
    })();
</script>

<style>
    body {
        background: #efdec1;
        font-size: 14px;
        font-family: Verdana, sans-serif;
    }
</style>