<div class="container-fluid top_s">
  <%= render 'tops/form', number: @number %>
  <div class="detail__table">
    <%= render 'tops/tabledic', list: @list %>
  </div>
</div>

<style>
  .top_s {
    margin: 100px;
  }
</style>