<div class="top_s">
<div class="container-fluid mt-5">
  <%= render 'tops/form', number: @number %>
  <div class="detail__table">
    <%= render 'tops/tabledic', list: @list %>
  </div>
</div>
</div>
<script>
  $('nav').addClass("bg-dark");
</script>