<% 2.upto(@xlsx.last_row) do |row| %>
   <p><%= @xlsx.cell(row, 2) %> : <%= @xlsx.cell(row, 3) %></p>
<% end %>

<% @lines.each do | line | %>
  <% line.chomp! %>
  <% item = line.split("/", 2) %>
  <p><%= item[0] %></p>
<% end %>
