<table class= "table">
  <thead>
    <th>エクセル形式</th>
    <th></th>
  </thead>
  <% 2.upto(@xlsx.last_row) do |row| %>
  <tbody>
    <td><%= @xlsx.cell(row, 2) %></td>
    <td><%= @xlsx.cell(row, 3) %></td>
  </tbody>
  <% end %>
</table>
