<div class="container-fluid top-type">
  <p id="text" class="top-var">typing question</p>
  <%# <input type="text" name="name"> %>
  <input type="text" id="targ" name="target" value="" style="display: block; color: rgb(0, 0, 0);">
  <p id="target"></p>
  <div class="row row1_1">
    <div class="col-4">
      <a id="target1" class="btn btn-rounded bottan">10問</a>　
    </div>
    <div class="col-4">
      <a id="target2" class="btn btn-rounded bottan">20問</a>　
    </div>
    <div class="col-4">   
      <a id="target3" class="btn btn-rounded bottan">30問</a>　
    </div>
  </div>
  <div class="row row1_2">
    <p id="botan"> </p>
  </div>
  <div class="row row1_3">
    <strong id="info">
    正解問題数: <span id="score" class="number">0</span>
    残り問題数: <span id="total" class="number">0</span>
    問題数: <span id="time" class="number">0</span>
    </strong>
  </div>
    <div class="container-fluid mx-auto text-center answer">
      <div class="row">
        <div class=col-sm-6>
          <table class='data-table table table-borderd table-striped thead-dark'style="color:black;">
            <tr><th id="good" colspan="2"></th></tr>
            <tr><td>英語</td><td>日本語</td></tr>
          </table>
        </div>
        <div class=col-sm-6>
          <table class="data-table table table-borderd"style="color:black;">
            <tr><th id="missing"colspan="2"></th></tr>
            <tr><td>英語</td><td>日本語</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
{
  const words = gon.questions;
  let word;
  let cnt;
  let loc;
  let score;
  let miss;
  let plusword;
  let apple;
  let isPlaying = false;
  let total_count;
  let list;
  const target = document.getElementById('target');
  const targ = document.getElementById('targ');
  const target1 = document.getElementById('target1');
  const target2 = document.getElementById('target2');
  const target3 = document.getElementById('target3');
  const text = document.getElementById('text');
  const time = document.getElementById('time');

  const scoreLabel = document.getElementById('score');
  const missLabel = document.getElementById('miss');

  const total = document.getElementById("total")

  const table = document.getElementById('tab');
  const answer = document.getElementById('answer');

  let tables= document.getElementsByClassName('data-table');
  const good = document.getElementById('good');
  const mi = document.getElementById('missing');
  // const ro1 = document.getElementById('row1_1');
  // const ro2 = document.getElementById('row1_2');
  // const ro3 = document.getElementById('row1_3');

  // 現在の display プロパティの値を保持
  const displayOriginal = tables[0].style.display;
  const displayOrigina = tables[1].style.display;
  const displayOrigin = targ.style.display;
// none に設定して非表示
  tables[0].style.display = 'none';
  tables[1].style.display = 'none';
  targ.style.display ="none"
  function tr_create(wor,x) {
    for (var i = 0; i < wor.length; i++) {
    var tr = document.createElement('tr');
    for (var j = 0; j < 2; j++) {
      var td = document.createElement('td');
    // テーブルの列を 2行追加する
    if (j===0) {
      td.innerHTML = wor[i][0];
    }
    else if(j===1){
      td.innerHTML = wor[i][1];
    }
    tr.appendChild(td);
  }
  tables[x].appendChild(tr);
  }
  }

  function updateTarget() {
    let placeholder ="";
    for (let i = cnt; i > 0; i--) {
      placeholder += '_';
    }
    text.textContent = word[1]
    target.textContent = plusword + placeholder ;
    if (placeholder.length==word[0].length){
      $('#targ').val('');
    }
  }

  function for_base(para) {
    let loc=[];
    for(let i= 0;i<para.length;i++){
      loc.push(para[i])
    }
    return loc
  }
  function updateTimer() {

    if (total_count <= 0) {
      isPlaying = true;

      target.textContent = 'F I N I S H';
      total.textContent = total_count;
      text.textContent ="";
      good.textContent ="正解問題"
      mi.textContent ="不正解問題"
      removebotan()
      gameEnd()
      // 元に戻して表示
      tables[0].style.display = displayOriginal;
      tables[1].style.display = displayOriginal;
      tr_create(for_base(apple),0)
      tr_create(for_base(list),1)
      const ro1 = document.getElementsByClassName('row1_1');
      const ro2 = document.getElementsByClassName('row1_2');
      const ro3 = document.getElementsByClassName('row1_3');
      ro1.setAttribute("id","row_all1");
      ro2.setAttribute("id","row_all2");
      ro3.setAttribute("id","row_all3");

    }
  }
  function createbotan(parama) {
    botans =document.getElementById("botan");
    if (botans.hasChildNodes()){
      const input = document.createElement("input");
      input.setAttribute("type","button");
		  input.setAttribute("size","50");
      input.setAttribute("id",parama)
		  input.setAttribute("value",parama);
      botans.appendChild(input);
    }
  }
  function removebotan() {
    const botan = document.getElementById("botan");
	  if (botan.hasChildNodes()){
		while (botan.firstChild) {
      botan.removeChild(botan.firstChild);
    }
  }}

  function plus(lists,word) {
    lists.push(word)
  }

  function gameEnd() {
    let appai =[]
    let miss =[]
    for (let i=0;i<apple.length;i++){
       appai =apple[i]
      $.ajax({
        url: '/type/results',
        type: 'POST',
        data: {
          results: appai
        }
      })
    }
    for (let i=0;i<list.length;i++){
       miss =list[i]
      $.ajax({
        url: '/type/results',
        type: 'POST',
        data: {
          miss: miss
        }
      })
    }

  }
  function starts() {
    if (isPlaying === true) {
      return;
    }
    isPlaying = true;
    createbotan("next")
    createbotan("reset")
    targ.style.display = displayOrigin;
    loc = 0;
    score = 0;
    miss = 0;
    cnt =0;
    total_count=this.name
    plusword ="";
    apple =[]
    list =[]
    scoreLabel.textContent = score;
    word = words[Math.floor(Math.random() * words.length)];
    time.textContent =this.name
    total.textContent = total_count;
    cnt =word[0].length;
    target1.style.display ="none";
    target2.style.display ="none";
    target3.style.display ="none";
    updateTarget()
    if (isPlaying!==false){
    if (!next.hasChildNodes()){
          next.addEventListener("click", function (e) {
            plus(list,word)
            $('#targ').val('');
            word = words[Math.floor(Math.random() * words.length)];
            total_count --;
            total.textContent = total_count;
            cnt =word[0].length;
            loc =0;
            plusword ="";
            updateTarget();
            updateTimer();
        })
     }
    }
    if (!reset.hasChildNodes()){
      reset.addEventListener("click", function (e) {
        text.textContent ="";
        target.textContent=""
        alert("処理が終了されますがよろしいですか");
        window.location.reload();
      })
    }
  }

      target1.addEventListener("click", {
        name: 10, handleEvent: starts
      }, false);
      target2.addEventListener("click", {
        name: 20, handleEvent: starts
      }, false);
      target3.addEventListener("click", {
        name: 30, handleEvent: starts
      }, false);

  window.addEventListener('keydown', e => {
    if (isPlaying !== true) {
      return;
    }
    if (e.key === word[0][loc]) {
      loc++;
      cnt --;
      plusword +=word[0][loc-1]
      if (loc === word[0].length) {
        plus(apple,word)
        word = words[Math.floor(Math.random() * words.length)];
        total_count --;
        total.textContent = total_count;

        loc = 0;
        cnt = word[0].length;
        plusword ="";
        score++;
        scoreLabel.textContent = score;
      }
      updateTarget();
      updateTimer()
    }
  });

}
</script>

