.back{
  background-image: url("bg_12.jpg");
  background-size: cover;
  background-attachment: fixed; 
  position: relative;
  background-position: 50% 0;
  min-height: 100vh;
  font-family: cursive;
  font-size: 20px;
  text-align: center;
  height: auto;
  // margin-top: 30px;
}
.topsa{
  padding: 150px;
}
.id-link{
  color: white;
}