<footer id="home-footer" class="bg-dark">
  <div class="container-footer">
    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12">
        <span class="logo">
          E-tan
        </span>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="menu">
          <span>Menu</span>
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="/select">Select Mode</a>
          </li>

          <li>
            <%= link_to "Sign up" , new_user_registration_path %>
          </li>

          <li>
            <%= link_to "Login" , new_user_session_path %>
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="address">
          <span>Contact</span>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScTmp7v8SXMrrBtQhV08EJbSA1HSgtt6dZcm1vdDZIpoeGBiQ/viewform">お問い合わせ</a>
          </li>
          <li>
            <a href="/about">利用規約</a>
          </li>
        </ul>
      </div>


    </div>
  </div>
</footer>
